@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: #1e293b; /* Text */
    background: #f9fafb; /* Main background */
    border: none;
    font-family: 'FOT Matisse Pro', Times;
}

@font-face {
    font-family: 'FOT Matisse Pro';
    src: url('/fonts/FOT-Matisse-Pro-EB.woff2') format("woff2"),
         url('/fonts/FOT-Matisse-Pro-EB.ttf') format('ttf'),
         url('/fonts/FOT-Matisse-Pro-EB.otf') format('otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/DotGothic16-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, button, .font-gothic {
  font-family: 'DotGothic16', sans-serif !important;
  letter-spacing: 0.5px;
  color: #2563eb; /* Primary accent */
}

h2 {
    font-family: 'FOT Matisse Pro', Times;
    font-size: clamp(1rem, 2.38vi + 1.85rem, 3.75rem);
    color: #2563eb;
}
