@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: #1C2646;
    background: #F9FAFE;
    border: 1rem solid #1C2646;
    font-family: 'FOT Matisse Pro', Times;
}

@font-face {
    font-family: 'FOT Matisse Pro';
    src: url('/fonts/FOT-Matisse-Pro-EB.woff2') format("woff2"),
         url('/fonts/FOT-Matisse-Pro-EB.ttf') format('ttf'),
         url('/fonts/FOT-Matisse-Pro-EB.otf') format('otf');
    font-style: normal;
    font-display: swap;
}

h2 {
    font-family: 'FOT Matisse Pro', Times;
    font-size: clamp(1rem, 2.38vi + 1.85rem, 3.75rem);
    color: #1C2646;
}
